* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; 
}
svg {
  width: 100%; 
  height: 100%;
  background-color: transparent;
}
line, path {
  stroke: #FFFFFF;
  stroke-width: 2; 
  stroke-linecap: round;
  stroke-linejoin: round;
}
#upper_graph {
  stroke: #212121;
}
.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  align-items: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #909090;
  transition: 0.5s all;
}
.menu * {
  cursor: pointer;
  white-space: nowrap;
}
.menu span,
.menu a,
.menu button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  margin-bottom: 5px;
  transition: 0.1s all;
  color: inherit;
}
.menu span:hover,
.menu a:hover,
.menu button:hover {
  color: white;
}
#pause {
  font-size: 12pt; 
  transform: scale(1.5); 
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
  line, path {
    stroke-width: 1; 
  }
  .menu {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .menu span,
  .menu a,
  .menu button {
    font-size: 20pt;
    margin-left: 10px;
    margin-right: 10px;
  }
  #toggle {
    display: none;
  }
  #pause {
    font-size: 20pt; 
    transform: scale(2); 
  }
  .toggles {
    width: auto;
  }
  .toggles {
    align-items: flex-start;
  }
}
